* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #303030;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background: rgb(90, 90, 90);
  width: 320px;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 5px solid #006fdf;
  transition-duration: 1s;
}

.card h1 {
  font-size: 20px;
  margin-bottom: 5px;
  color: rgb(215, 215, 215);
}

.card p {
  color: #f3f2f2;
  font-size: 14px;
  margin-bottom: 10px;
}

.info {
  margin: 15px 0;
  text-align: left;
}

.info p {
  font-size: 14px;
  margin-bottom: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.loader {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 7px solid #7dbcff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}   

@media screen and (max-width: 450px) {

  .container{
    height: 80%;

  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card p {
    font-size: 20px;
    margin-bottom: 10px;
    color: lightgray;
  }
  .card img {
    width: 150px;
    height: 150px;
    margin-bottom: 35px;
  
}
  .info{
    text-align: start;
    width: 100%;
    
  }
  .info p{
    font-size: 20px;
    margin-left: 5px;
  }
  button{
    padding: 20px;
    font-size: 15px;
  }

}